# Android Studio
*.iml
.idea/
.gradle/
local.properties

# Build output
/build/
/app/build/
/captures/
/outputs/
/.externalNativeBuild/
/.cxx/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log & crash files
*.log
crashlytics-build.log

# APKs
*.apk
*.ap_

# Misc
*.keystore

